{% extends 'base.html.twig' %}

{% block body %}
    <h1>Permission</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ permission.id }}</td>
            </tr>
            <tr>
                <th>Accepted</th>
                <td>{% if permission.accepted %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if permission.date %}{{ permission.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('permissions_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('permissions_edit', { 'id': permission.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
